<main id="root">NOT EVEN WORKING YET

  <% if logged_in? %>
    <script type="text/javascript">
      window.currentUser = <%= render(
        "api/users/user.json.jbuilder",
        user: current_user
      ).html_safe %>
    </script>
  <% end %>

  <script type="text/javascript">
    window.images = {
      sessionForm: "<%= asset_path('product_escape_session_form.jpg') %>"
    }
  </script>

</main>
