.modal-product-show{
  width: 1050px;
  background-color: #f7f4f4;
  padding: 30px;
  border-radius: 5px;
  margin-bottom: 75px;
}

.show-header {
  width: 100%;
  display: flex;
  padding: 0px;
  align-items: center;
  // border-bottom: 1px solid lightgrey;
  margin-bottom: 30px;
}

.show-body{
  display: flex;
  width: 100%
}

.show-main-information {
  width: 66%;
  display: flex;
  flex-direction: column;

  .show-photo-box{
    width: 100%;
    background-color: white;
    height: 430px;
    padding: 21px;
    border-radius: 4px;
    border: 1px solid lightgrey;

    .show-main-photo{
      width: 100%;
      height: 90%;
    }

  }
  .show-information-box{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    background-color: white;
    margin-top: 22px;
    padding: 21px;
    border: 1px solid lightgrey;
    border-radius: 3px;

    .show-user-social-website-links{
      display: flex;
      padding-bottom: 18px;
      flex-direction: row;
      border-bottom: 1px solid lightgrey;

      .show-product-user-facebook{
        width: 90px;
        height: 27px;
        border-radius: 5px;
        border: 1px solid #2121afc7;
        color: #2121afc7;
        display: flex;
        justify-content: center;
        align-items: center;


      }

      .show-product-user-twitter{
        width: 90px;
        height: 27px;
        border-radius: 5px;
        border: 1px solid deepskyblue;
        color: deepskyblue;
        display: flex;
        margin-right: 10px;
        justify-content: center;
        align-items: center;



      }
    }

    .show-learn-more-details{
      height: auto;
      display: flex;
      justify-content: flex-start;
    }

  }
}

.show-product-user-twitter:hover{
  width: 90px;
  height: 27px;
  border-radius: 5px;
  border: 1px solid deepskyblue;
  color: white;
  background-color: deepskyblue;
  display: flex;
  margin-right: 10px;
  justify-content: center;
  align-items: center;

  p {
    color: white;
  }

  i {
    color: white;
  }

}

.show-product-user-facebook:hover{
  width: 90px;
  height: 27px;
  border-radius: 5px;
  border: 1px solid #2121afc7;
  background-color: #2121afc7;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    color: white;
  }

  i {
    color: white;
  }

}

.product-show-user-social-p:hover{
  margin: 0;
  display: flex;
  margin-left: 5px;
}

.product-show-user-social-p{
  margin: 0;
  display: flex;
  margin-left: 5px;
  color: inherit;
}



// maybe .show-main-photo goes outside of
.show-user-add-to-collection{
  display: flex;
  flex-direction: row;
}


.show-product-list-item-photo {
  margin-right: 15px;
  margin-left: 0px;
  margin-bottom: 15px;
  margin-top: 15px;
  width: 75px;
  height: 75px;
  // background-color: darkblue;
}



.show-product-list-item-description{
  color: darkgrey;
    font-family: sans-serif;
    font-weight: 350;
    font-size: 13px;
    margin: 10px 0px;
    margin-bottom: 15px;
}

.show-product-list-item-product-Name{
  font-family: sans-serif;
  font-weight: 300;
  font-size: 20px;
  margin: -5px 0px;
  margin-top: -3px;

}


.product-list-item-photo {
  margin: 15px 10px;
  width: 75px;
  height: 75px;
  // background-color: darkblue;
}
.product-show-photos-img{
  width: 100%;
  height: 100%;
}

.product-show-details-p{
  white-space: pre-wrap;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 300;
}

.side-bar {
  margin-left: 74px;
  display: flex;
  flex-direction: column;
  width: 33%;



}
.show-updoots{
  display: flex;
  padding: 22px 0px;
  border-top: 1px solid #d3d3d370;
  border-bottom: 1px solid #d3d3d370;

}
.show-upvote-button{
  display: flex;
  width: 195px;
  height: 50px;
  border-radius: 4px;
  text-align: center;
  justify-content: center;
  padding-left: 36px;
  font-size: 17px;
  font-weight: 747;
  color: white;
  background-color: #da552f;

  .show-upvote-number{
    display: flex;
    padding-left: 22px;
  }

}

.show-upvote-button:hover{
  display: flex;
  width: 195px;
  height: 50px;
  border-radius: 4px;
  text-align: center;
  justify-content: center;
  padding-left: 36px;
  font-size: 17px;
  font-weight: 747;
  color: white;
  background-color: #da682f;
}

.show-website-button{
  display: flex;
  height: 65px;
  margin: 22px 0px;
  width: 100%;
  background-color: white;
  border: 1px solid #d3d3d391;
  border-radius: 6px;
  align-items: center;
}

.fa-compass{
  font-size: 32px;
  color: darkgrey;
  padding-left: 7px;
}

.show-website-word-stacker{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 15px;
}

.show-website-identifier{
  font-size: 14px;
  font-weight: 450;
  margin-bottom: 3px;
  display: flex;
}

.show-website-address{
  display: flex;
  color: darkgrey;
  font-size: 11px;
}

.show-send-to-phone{
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  border-bottom: 1px solid #d3d3d391;
  padding-bottom: 23px;
}

.show-send-to-phone-button{
  align-items: center;
  text-align: center;
  width: 100%;
  height: 35px;
  font-size: 11px;
  border: 1px solid #d3d3d391;
  font-weight: 500;
  border-radius: 3px;
}

.show-send-to-phone-button:hover{
  background-color: lightgrey;
}
