.search-container-modal{
    display: flex;
    width: 1100px;
    flex-direction: column;
    // margin-top: 15px;
    // border: 1px solid lightgrey;
    padding: 15px;
}
.search-container{
    display: flex;
    flex-direction: column;

}
.search-bar-symb-input{
    display: flex;
    flex-direction: row;
    padding: 7px;
    border-top: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
    // border-bottom: 1px solid lightgrey;
}

.search-input{
    outline: none;
    border: none;
    color: darkgrey;
    width: 100%;
    font-size: 15px;
    font-family: sans-serif;
}
.search-input-modal{

    outline: none;
    border: none;
    color: darkgrey;
    width: 100%;
    font-size: 15px;
    font-family: sans-serif;
}
.search-bar-modal-holder{
    widows: 100%;
    overflow: hidden;
}

.search-bar-modal{
    width: 100%;
}

.modal-child-search{
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 91px;
    background-color: white;
    transform: translate(-50%, 0%);
    justify-content: center;
    display: flex;
}
.search-results-div-function{
    border-bottom: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
    display: flex;
    flex-direction: column;
}

.search-results{
    margin-top: 20px;
    padding-left: 15px;
    box-sizing: border-box;
    background-color: white;
    /* margin-left: 10px; */
    width: 100%;
}

.search-results-label{
    font-size: 12px;
    font-family: sans-serif;
    color: darkgrey;
}

.search-result-user-listitems{
    list-style: none;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    padding: 10px;
}

.search-result-user-listitems:hover{
    list-style: none;
    background-color: lightgrey;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    padding: 10px;
}

.search-result-user-avatar{
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.no-response-result-response{

}

.product-search-results{
    display: flex;
    flex-direction: column;
}

.tag-search-result-link{
    text-decoration: none;
    color: black;
    padding: 10px;
    // background-color: lightgrey;
    font-weight: 350;
}
.tag-search-result-link:hover{
    background-color: lightgrey
}