.search-results{
    background-color: white;
    z-index: 5px;
}
.search-show-product-list-item-photo{
    height: 50px;
    width: 50px;
}

.search-product-list-item-logo{
    height: 50px;
    width: 50px; 
}

.search-product-list-item{
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 1000px;  
}

.search-product-list-item-product-Name{
    font-size: 14px;
    font-family: sans-serif;
    color: black;
    font-weight: 400;
    margin: 0px;
}

.search-product-list-item-headline{
    margin-left: 15px;
    align-items: center;
}

.search-product-list-item-description{
    font-size: 14px;
    font-weight: 300;
    color: darkgrey;
    margin: 0px;
    margin-top: 10px;
}