.search-results{
    background-color: white;
    z-index: 5px;
}
.search-show-product-list-item-photo{
    height: 50px;
    width: 50px;
}

.search-product-list-item-logo{
    height: 50px;
    width: 50px; 
}

.search-product-list-item{
    display: flex;
    height: 50px;
    width: 1000px;  
}