// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.first-div {

}
.second-div {
  background-color: #f9f9f9;
}
.all-content{
}

.navbar-top-white{
  display: flex;
  background-color: white;
  justify-content: center;
  border-bottom: solid .5px lightgrey;
}

.grey-background{
  background-color: #f9f9f9;
  width: 100%;
  display: flex;
  justify-content: center;
}

.product-list-content-box{
  width: 1070px;
  background-color: white;
  border-radius: 5px;
  margin-top: 35px;
  padding: 15px;
}

.user-content-page {
  width: 100%;
  padding: 0px 15px;
}

.user-content-body {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.user-left-side-bar {
  display: flex;
  flex-direction: column;
  width: 15%;
  border: 1px solid red;
  margin-top: 25px;
  margin-right: 10px;
}

.user-main-content{
  display: flex;
  flex-direction: column;
  width: 60%;
  border: 1px solid red;
  margin: 10px;
  margin-top: 25px;
}

.user-right-side-bar {
  display: flex;  
  flex-direction: column;
  width: 25%;
  border: 1px solid red;
  margin-left: 10px;
  margin-top: 25px;
}