

.header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* justify-content: flex-end; */
}


.header-div-signup-login {
  /* float: right; */
  /* justify-content: flex-end; */
}

.header-signup

.logo {
  d: path('M 40 20 c 0 11.046 -8.954 20 -20 20 S 0 31.046 0 20 S 8.954 0 20 0 s 20 8.954 20 20');
fill: rgb(218, 85, 47);
}
