

.links-to-nowhere a {
  text-decoration: none;

}

.profile-dropdown-menu {
  justify-content: flex-end;
  display: flex;
  position: relative;
}

.profile-dropdown-menu-options {
  position: absolute;
  transform: translate(-75%);
}

.profile-avatar{
  display: flex;
  position: relative;
}

.profile-avatar-self-made {
  display: flex;
}



.profile-menu-wrapper{
  width: 33%;
  justify-content: flex-end;
}


.openDropDown {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 150px;
  height: auto;
  border: solid .5px lightgrey;
  background-color: white;
  border-radius: 5px;
  padding: 15px 10px;
}

.profile-letter-self-made {
  position: absolute;
  top: 5%;
  right: 6%;
  font-size: 36px;
  font-family: sans-serif;
}

.openDropDown a{
  text-decoration: none;
  color: #999;
}
.setting-seperator{
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: solid .5px lightgrey;
  border-bottom: solid .5px lightgrey;
  padding-top: 10px;
  padding-bottom: 10px;
}

.openDropDown a:hover {
  text-decoration: underline;
}

.closeDropDown {
  display: none;
}
